<div class="admin-layout">
  <aside class="sidebar">
    <h2>LesiBuy Admin</h2>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/categories" routerLinkActive="active">Categories</a>
      <a routerLink="/orders" routerLinkActive="active" class="nav-link">
        <span>Orders</span>

        <span *ngIf="unseenOrderCount > 0" class="order-badge">
          {{ unseenOrderCount }}
        </span>
      </a>
    </nav>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>