<div class="admin-layout">
  <aside class="sidebar">
    <h2>LesiBuy Admin</h2>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/categories" routerLinkActive="active">Categories</a>
      <a routerLink="/orders" routerLinkActive="active">Orders</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>